<h3 class="w-100 text-center mb-4 title">شرح صورتحساب</h3>
<div class="container-fluid">
  <div class="row justify-content-center flex-column align-items-center">
    <div class="col-md-6">
      <div class="details text-center">
        <div class="mb-2">
          <span class="font-weight-bold">شماره سفارش : </span>
          <span>{{'2561615'}}</span>
        </div>
        <div class="mb-2">
          <span class="font-weight-bold">تاریخ سفارش : </span>
          <span>{{'27/09/1397'}}</span>
        </div>
        <div class="mb-2">
          <span class="font-weight-bold">میزان ارز: </span>
          <span>{{' 500 '}} دلار</span>
        </div>
      </div>
      <table class="table shadow">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">شرح</th>
            <th scope="col">مبلغ (تومان)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <th scope="row">گیفت کارت آمازون</th>
            <td>2500</td>
          </tr>
        </tbody>
        <tfoot class="thead-dark">
          <tr>
            <th scope="col">مبلغ قابل پرداخت</th>
            <th></th>
            <th scope="col">2500</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-4 col-lg-2 my-3">
      <button class="w-100" mat-raised-button color="primary">پرداخت هزینه</button>
    </div>
  </div>
</div>