@import "../../../../../sass/style.scss";

.cost,
.title {
  font-family: IRANSans;

  @include smallTitle;
}

table {
  font-family: IRANSans;
}

mat-horizontal-stepper ::ng-deep .mat-icon {
  font-family: "Material Icons";
}
