<mat-list role="list" class="pt-0">
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon class="ml-1">location_on</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'">تهران، پاسداران، پلاک 300، واحد 1</span>
  </mat-list-item>
  <mat-list-item role="
      listitem">
    <mat-icon mat-list-icon class="ml-1" >phone</mat-icon>
    <span [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'" dir="ltr">021 - 88888888</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <mat-icon mat-list-icon class="ml-1" >email</mat-icon>
    <span><a href="mailto:info@domain.com" [ngClass]="color == 'dark' ? 'text-dark' : 'text-light'">info@domain.com</a></span>
  </mat-list-item>
</mat-list>