<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">شماره</th>
              <th scope="col">نوع سفارش</th>
              <th scope="col">توضیحات</th>
              <th scope="col">واریز</th>
              <th scope="col">برداشت</th>
              <th scope="col">موجودی</th>
              <th scope="col">تاریخ</th>
              <th scope="col">وضعیت</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of transactionsList;let i = index">
              <th class="align-middle" scope="row">{{i+1}}</th>
              <td class="align-middle">{{item.number}}</td>
              <td class="align-middle">{{item.title}}</td>
              <td class="align-middle maxWidth">{{item.description}}</td>
              <td class="align-middle">{{item.submitDate}}</td>
              <td class="align-middle">{{item.deposit}}</td>
              <td class="align-middle">{{item.removal}}</td>
              <td class="align-middle">{{item.inventory}}</td>
              <td class="align-middle"></td>
            </tr>
          </tbody>
        </table>
        <empty-list class="d-block m-auto" [show]="transactionsList.length == 0"></empty-list>
      </div>
    </div>
  </div>
</div>