<page-header [title]="'درباره ما'"></page-header>
<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <div class="bg-white rounded p-5 shadow">
        به عنوان یک ایده استارتاپی، برای حل مشکلات پرداخت‌های ارزی و دریافت درآمدهای به دست آمده از منابع خارج از کشور،
        کار خود را در شیراز آغاز کرد. در حال حاضر گستره فعالیت مجموعه ما به حدی رسیده است که وب‌سایت ما در حال حاضر
        بازدید روزانه چشمگیری از مشتریان ثابت و جدید دارد.

        مجموعه ما با پشتوانه اعتمادی که در طی سال‌های گذشته بین مشتریان خود به دست آورده امروز با گذشت بیش از ۸ سال از
        اولین قدم‌ها به عنوان یک استارت‌آپ کوچک به جایگاهی رسیده که فعالیت‌های خود را از مرکز شیراز به دفترهای دیگر
        مجموعه در شهرهای تهران و اصفهان هم گسترش داده و بیش از ۵۰ پرسنل متخصص در تمام زمینه‌های مربوطه، در حال نیازسنجی
        و
        رفع خواسته‌های مشتریان هستند.

        حضور نیروی انسانی قوی، با انگیزه ایجاد تجربه بهتر برای مشتریان، باعث شده تعداد افرادی که به صورت ثابت امور
        پرداخت‌های ارزی خود را به پیمنت۲۴ می‌سپارند به سرعت افزایش پیدا کند. حجم بالای سفارشات در هر روز نیاز به
        پشتیبانی
        مستمر در ساعات مختلف شبانه روز را برای پیشبرد هر چه سریع‌تر سفارشات این مشتریان ایجاد می‌کرد. پیمنت۲۴ در حال
        حاضر
        تنها مجموعه پرداخت‌های ارزی بین‌المللی در کشور است که با تکیه بر نیروی انسانی متخصص در ساعات مختلف شبانه روز،
        حتی
        روزهای تعطیل، پشتیبانی مستمر به مشتریان ارائه می‌دهد.

        همچنین با توجه به گستردگی جغرافیایی دفاتر مجموعه در سه شهر بزرگ ایران، مشتریان می‌توانند در طول روز جهت انجام
        امور مختلف در محل دفاتر ما حضور پیدا کنند و علاوه بر امکان ثبت آنلاین سفارش یا درخواست پشتیبانی آنلاین یا
        تلفنی،
        به صورت حضوری از خدمات ما بهره ببرند.
      </div>
    </div>
  </div>
</div>