<div class="container-fluid bg-dark top-footer">
  <div class="row">
    <div class="container">
      <div class="row py-5">
        <div class="col-sm-6 col-md-4" dir="rtl">
          <h3 class="text-primary">لینک ها</h3>
          <mat-nav-list class="pt-0 links">
            <a mat-list-item routerLink="/contact-us" class="text-light">
              <mat-icon mat-list-icon color="primary">keyboard_arrow_left</mat-icon>
              تماس با ما
            </a>
            <a mat-list-item routerLink="/about-us" class="text-light">
              <mat-icon mat-list-icon color="primary">keyboard_arrow_left</mat-icon>
              درباره ما
            </a>
            <a mat-list-item routerLink="/faq" class="text-light">
              <mat-icon mat-list-icon color="primary">keyboard_arrow_left</mat-icon>
              سوالات متداول
            </a>
            <a mat-list-item routerLink="/terms-conditions" class="text-light">
              <mat-icon mat-list-icon color="primary">keyboard_arrow_left</mat-icon>
              شرایط استفاده
            </a>

          </mat-nav-list>
        </div>
        <div class="col-sm-6 col-md-4 mt-3 mt-sm-0" dir="rtl">
          <h3 class="text-primary">تماس با ما</h3>
          <address [color]="'white'"></address>
        </div>
        <div class="col-sm-12 col-md-4 d-sm-flex align-items-sm-center justify-content-sm-center flex-sm-column d-md-block mt-3 mt-md-0">
          <h3 class="d-block d-sm-none d-md-block text-primary">شبکه های اجتماعی</h3>
          <div class="d-flex align-items-center mt-3 mt-sm-0">
            <h3 class="d-none d-sm-block d-md-none mb-0 ml-3 text-primary">شبکه های اجتماعی : </h3>
            <div>
              <a href="" matTooltip="تلگرام" class="ml-3 pb-2">
                <img src="../../../../assets/images/icon/telegram.png">
              </a>
              <a href="" matTooltip="اینستاگرام" class="ml-3 pb-2">
                <img src="../../../../assets/images/icon/insta.png">
              </a>
              <a href="" matTooltip="توئیتر" class="ml-3 pb-2">
                <img src="../../../../assets/images/icon/twitt.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark border-top bottom-footer">
  <div class="row">
    <div class="container">
      <div class="row py-3 align-items-center">
        <div class="col-sm-9 text-center text-sm-right mb-2 mb-sm-0">
          <p class="mb-0">
            تمام حقوق سایت محفوظ است
          </p>
        </div>
        <div class="col-sm-3 text-center text-sm-left">
          copyright @ 2018
        </div>
      </div>
    </div>
  </div>
</div>