@import "../../../../sass/style.scss";
h3 {
  @include smallTitle($color: $lightGray);
}

.row {
  color: #fff;
}

.border-top,
.border-left {
  border-color: #dee2e61c !important;
}

mat-icon {
  font-size: 18px;
}

mat-nav-list ::ng-deep .mat-list-text,
mat-nav-list ::ng-deep .mat-list-item-content,
mat-icon {
  padding-right: 0 !important;
}

.top-footer {
  background: #2b2b2b !important;
}

.bottom-footer {
  background: lighten($color: #2b2b2b, $amount: 3%) !important;
}

.text-primary,
mat-icon {
  color: #69adf5 !important;
}

img {
  width: 40px;
}

.links a {
  height: 40px;
}
